/* Start Global Rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Open Sans", sans-serif;
}
ul {
    list-style: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* End Global Rules */
/* start navbar  */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 25px;
    z-index: 999;
}
.navbar h3 {
    font-size: 20px;
}
@media (max-width: 600px) {
   .navbar h3 {
    margin-left: -100px;
   }
}
.navbar h3 i {
    color: #1290a4;
    margin-right: 5px;
}
li, 
a {
    text-decoration: none;
    color: black;
}
.navbar .navbarList {
    list-style: none;
    padding-left: 100px;
}
@media (max-width: 600px) {
    .navbar .navbarList {
        display: none;
    }
}
.navbar .navbarList li {
    text-decoration: none;
    display: inline-block;
    padding: 0px 20px;
}
.links a {
    text-decoration: none;
    padding: 15px;
}
.links .right {
    background-color: #1290a4;
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
}
@media (max-width: 600px) {
    .links .right,
    .links a {
        display: none;
    }
}
.dropdown li a {
    display: block;
    padding: 20px 25px;
    font-size: 16px;
    color: white;
    text-align: center;
}
.navbarList li ul.dropdown li {
    display: block;
    background-color: #1291a455;
    margin: 2px 0px;
}
.navbarList li ul.dropdown {
    width: auto;
    background-color: #1291a455;
    position: absolute;
    z-index: 999;
    display: none;
}
ul li:hover ul.dropdown {
    display: inline-block;
}
/* end navbar  */
/* start hero  */
.hero {
    padding-top: 180px;
}
.hero .content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
@media (max-width: 600px) {
    .hero .content {
        flex-direction: column-reverse;
    }
}
.hero .content .text h1 {
    font-size: 50px;
    margin-bottom: 20px;
}
@media (max-width: 600px) {
    .hero .content .text h1 {
        font-size: 40px;
    }
}
.hero .content .text p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #777;
}
@media (max-width: 600px) {
    .hero .content .text p {
        font-size: 25px;
    }
}
.hero .content .text input {
    height: 40px;
    border: none;
    padding: 0px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #1291a40c;
}
@media (max-width: 600px) {
    .hero .content .text input {
        width: 100%;
    }
}
.hero .content .text .send {
    background-color: #1290a4;
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 15px;
    color: white;
}
@media (max-width: 600px) {
    .hero .content .text .send {
        display: block;
        text-align: center;
        margin-bottom: 20px;
    }
}
.hero .content .text a {
    color: #2d94fe;
}
@media (max-width: 600px) {
    .hero .content .text .question {
        font-size: 15px;
    }
}
@media (max-width: 600px) {
    .hero .content .image img {
        width: 300px;
        margin-bottom: 30px;
    }
}
/* end hero  */
/* start product  */
.wave-product {
    padding-top: 150px;
    min-height: 100vh;
    width: 100%;
}
.wave-product .wave {
    width: 100%;
    height: 100vh;
    background-color: #f8f8f8;
    clip-path: polygon(100% 100%, 0% 100% , 0.00% 11.33%, 2.00% 11.32%, 4.00% 11.29%, 6.00% 11.24%, 8.00% 11.17%, 10.00% 11.08%, 12.00% 10.97%, 14.00% 10.85%, 16.00% 10.71%, 18.00% 10.57%, 20.00% 10.41%, 22.00% 10.25%, 24.00% 10.08%, 26.00% 9.92%, 28.00% 9.75%, 30.00% 9.59%, 32.00% 9.43%, 34.00% 9.29%, 36.00% 9.15%, 38.00% 9.03%, 40.00% 8.92%, 42.00% 8.83%, 44.00% 8.76%, 46.00% 8.71%, 48.00% 8.68%, 50.00% 8.67%, 52.00% 8.68%, 54.00% 8.71%, 56.00% 8.76%, 58.00% 8.83%, 60.00% 8.92%, 62.00% 9.03%, 64.00% 9.15%, 66.00% 9.29%, 68.00% 9.43%, 70.00% 9.59%, 72.00% 9.75%, 74.00% 9.92%, 76.00% 10.08%, 78.00% 10.25%, 80.00% 10.41%, 82.00% 10.57%, 84.00% 10.71%, 86.00% 10.85%, 88.00% 10.97%, 90.00% 11.08%, 92.00% 11.17%, 94.00% 11.24%, 96.00% 11.29%, 98.00% 11.32%, 100.00% 11.33%);
}
@media (max-width: 600px) {
    .wave-product .wave {
        height: 210vh;
    }
}
.wave-product h2 {
    text-align: center;
    font-size: 45px;
    padding-top: 130px;
}
@media (max-width: 600px) {
   .wave-product h2 {
    padding-top: 200px;
   }
}
.wave-product .grid {
    width: 83%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
.wave-product .grid .cards {
    background-color: white;
    padding: 50px;
    margin-top: 100px;
}
.wave-product .cards .content .circle {
    width: 80px;
    height: 80px;
    background-color: #fde2e5;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 45px;
}
.wave-product .cards .content .circle i {
    font-size: 35px;
    color: #f46d7a;
    margin-left: 23px;
    margin-top: 20px;
}
.wave-product .cards .content h3 {
    font-size: 25px;
    margin-bottom: 20px;
}
.wave-product .cards .content p {
    font-size: 15px;
    color: #777;
    margin-bottom: 20px;
}
.wave-product .cards .content span {
    color: #1290a4;
    font-weight: bold;;
}
.wave-product .cards .content i {
    color: #1290a4;
    margin-left: 15px;
}
/* end product  */
/* start response  */
.response {
    padding-top: 150px;
    padding-bottom: 150px;
}
.response .content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
@media (max-width: 600px) {
    .response .content {
        flex-direction: column;
    }
}
@media (max-width: 600px) {
    .response .content .image img {
        width: 300px;
        margin-bottom: 70px;
    }
}
.response .content .text {
    margin-top: -45px;
    margin-left: -100px;
}
@media (max-width: 600px) {
    .response .content .text {
        margin-left: 5px;
    }
}
.response .content .text h3 {
    font-size: 40px;
    margin-bottom: 20px;
}
.response .content .text p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #777;
}
.response .content .text span {
    color: #1290a4;
    font-weight: bold;
}
.response .content .text i {
    color: #1290a4;
    margin-left: 20px;
}
/* end response  */
/* start event  */
.event {
    padding-top: 50px;
    padding-bottom: 150px;
}
.event .wave {
    background-color: #f8f8f8;
    width: 100%;
    height: 80vh;
    clip-path: polygon(50% 0%, 100.1% 0%, 100.1% 69%, 90.7% 76.3%, 75.8% 84.8%, 34.8% 98.3%, 0% 100.3%, 0% 43%, 0% 0%);
}
@media (max-width: 600px) {
    .event .wave {
        height: 100vh;
    }
}
.event .content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 100px;
    z-index: 999;
}
@media (max-width: 600px) {
    .event .content {
        flex-direction: column-reverse;
    }
}
@media (max-width: 600px) {
    .event .content .text {
        margin-left: 5px;
    }
}
.event .text h3 {
    font-size: 40px;
    margin-bottom: 20px;
}
@media (max-width: 600px) {
    .event .text h3 {
        margin-top: 30px;
        font-size: 50px;
    }
}
.event .text p {
    margin-bottom: 30px;
    font-size: 15px;
    color: #777;
}
.event .text i {
    margin-bottom: 20px;
    margin-right: 10px;
    color: #228aff;
    font-size: 20px;
}
.event .text span {
    font-weight: bold;
}
.event .image img {
    width: 450px;
}
/* end event  */
/* start support  */
.support {
    padding-bottom: 100px;
}
.support .grid {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
@media (max-width: 600px) {
    .support .grid {
        flex-direction: column;
    }
}
@media (max-width: 600px) {
    .support .grid .image img {
        width: 380px;
        margin-bottom: 40px;
    }
}
.support .text h3 {
    font-size: 40px;
    margin-bottom: 20px;
}
@media (max-width: 600px) {
    .support .text h3 {
        font-size: 50px;
    }
}
.support .text p {
    font-size: 15px;
    color: #777;
    margin-bottom: 20px;
}
.support .text hr {
    margin-bottom: 20px;
    height: 3px;
    background-color: #eeeeeea2;
    border: none;
}
.support .text span {
    font-size: 13px;
    color: #777;
}
.support .text a {
    background-color: #f46f7c;
    color: white;
    padding: 12px 15px;
    border-radius: 5px;
    font-size: 14px;
    display: inline-block;
    margin-top: 20px;
}
/* end support  */
/* start pricing  */
.pricing {
   padding-top: 100px;
   padding-bottom: 80px;
}
.pricing .back {
   background-color: #f8f8f8;
   height: 140vh;
}
.pricing .wave {
   background-color: #30393b;
   height: 140vh;
   clip-path: polygon(23.3% 3.5%, 65.9% 8.8%, 100.1% 11.5%, 100.1% 100.3%, 0% 100.3%, 0% 0%);
}
@media (max-width: 600px) {
    .pricing .back,
    .pricing .wave {
        height: 255vh;
        clip-path: none;
    }
}
.pricing .back .wave .text {
    padding-top: 140px;
    text-align: center;
}
.pricing .back .wave .text h2 {
    font-size: 40px;
    margin-bottom: 30px;
    color: white;
}
.pricing .back .wave .text p {
    font-size: 14px;
    color: #777;
    margin-bottom: 30px;
}
.pricing .switch {
   padding: 0 15px;
   text-align: center;
   margin-bottom: 30px;
}
.pricing .switch div,
.pricing .switch .custom-switch {
    display: inline-block;
}
.pricing .switch .month,
.pricing .switch .year {
    color: white;
    text-transform: capitalize;
    font-size: 16px;
}
.form-switch input[type=checkbox] {
    font-size: 30px;
    appearance: none;
    width: 60px;
    height: 30px;
    background-color: white;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    outline: none;
    transition: 0.2s all ease-in-out;
}
.form-switch input[type=checkbox]:checked {
    background-color: #0ebeff;
}
.form-switch input[type=checkbox]::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #eee;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transform:  scale(0.7);
    left: 0;
    transition: 0.2s all ease-in-out;
}
.form-switch input[type=checkbox]:checked::after {
    left: calc(100% - 30px);
}
.pricing .grid {
    width: 83%;
    margin: 50px 130px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
@media (max-width: 600px) {
    .pricing .grid {
        margin: 50px 33px;
    }
}
.pricing .grid .cards {
    background-color: white;
    border-radius: 5px;
    padding: 30px;
}
.pricing .grid .cards:nth-child(2) {
    border-top: 5px solid #f46f7c;
}
.pricing .grid .cards .flex  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pricing .grid .cards .flex a {
    background-color: #f46f7c;
    border-radius: 20px;
    height: 30px;
    padding: 10px;
    margin-top: -5px;
    font-size: 10px;
    text-align: center;
}
.pricing .grid .cards .standard {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}
.pricing .grid .cards .price {
    font-size: 30px;
    font-weight: bold;
}
.pricing .grid .cards .price span {
    font-size: 45px;
}
.pricing .grid .cards p {
    margin-top: 20px;
    font-size: 14px;
    color: #777;
}
.pricing .grid .cards li {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.pricing .grid .cards i {
    font-size: 20px;
    margin-right: 10px;
}
.pricing .grid .cards span {
    font-size: 16px;
    text-transform: capitalize;
}
.pricing .grid .cards a {
    background-color: #1290a4;
    padding: 10px 25px;
    color: white;
    margin-bottom: 10px;
    margin-top: 40px;
    border-radius: 5px;
    display: inline-block;
}
.pricing .grid .cards .last {
    font-size: 14px;
    color: #777;
}
.pricing .back .wave .down {
    text-align: center;
    margin-top: 20px;
}
.pricing .back .wave .down p {
    color: #777;
}
.pricing .back .wave .down span {
    color: white;
}
.pricing del {
    color: #777;
}
/* end pricing  */
/* start join  */
.join {
    padding-top: 50px;
}
.join .content {
    text-align: center;
}
.join .content h3 {
    font-size: 30px;
    margin-bottom: 20px;
}
.join .content p {
    font-size: 15px;
    margin-bottom: 20px;
    color: #777;
}
.join .content input {
    height: 40px;
    border: none;
    padding: 0px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #1291a40c;
}
@media (max-width: 600px) {
    .join .content input {
        width: 100%;
    }
}
.join .content .send {
    background-color: #1290a4;
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 15px;
    color: white;
}
@media (max-width: 600px) {
    .join .content .send {
        display: block;
    }
}
.join .content .not-spam {
    display: flex;
    justify-content: center;
    align-items: center;
}
.join .content span {
    font-size: 13px;
    margin-right: 5px;
    color: #777;
}
.join .content p {
    margin-top: 20px;
    font-size: 13px;
    color: #777;
}
.join hr {
    height: 3px;
    background-color: #eeeeeea2;
    border: none;
    margin: 50px 0;
}
/* end join  */
/* start footer  */
.footer {
    padding-top: 20px;
}
.footer .grid {
    margin: 50px 130px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
@media (max-width: 600px) {
    .footer .grid {
        margin-left: 5px;
    }
}
.footer .left h3 {
    margin-bottom: 25px;
}
.footer .left i {
   color: #1290a4;
   margin-right: 5px;
}
.footer .left p {
   font-size: 14px;
   margin-bottom: 25px;
   color: #777;
}
@media (max-width: 600px) {
    .footer .left p {
        font-size: 18px;
        line-height: 1.7;
    }
}
.footer .left li {
    display: inline-block;
}
.footer .left li i {
    margin-right: 10px;
    color: black;
}
@media (max-width: 600px) {
    .footer .left {
        margin-bottom: 20px;
    }
}
.footer .right .help h4 {
    margin-bottom: 25px;
    color: #777;
}
.footer .right .help li {
    padding-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
}
.footer .right {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 70px;
}
@media (max-width: 600px) {
    .footer .right {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}
.footer .right .help,
.footer .right .support,
.footer .right .products,
h4 {
    margin-bottom: 25px;
    color: #777;
}
.footer .right .help,
.footer .right .support,
.footer .right .products,
li {
    padding-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
}
/* end footer  */